In [1]:
# Project for Human Capital Supply and Demand
# Importing libraries
import pandas as pd
import numpy as np

In [2]:
# reading Excel file
Headcount = pd.read_excel('Demandv1.1.xlsx', 'Headcount',header=0)
#Headcount = Headcount[Headcount['Status'] == 'Bench']
#Headcount = Headcount.reset_index(drop = True)
Demand_LY = pd.read_excel('Demandv1.1.xlsx', 'Demand Trend Last year',header=0)

In [3]:
Demand_LY

,Month DD Raised,No. of FTE Request Raised,SkillList,Location,Experience Grade,Practice,Skill Group,Demand Source
0,May,4,Salesforce (Functional),Bangalore,A4,BANK,(F) IT Operations,Account
1,October,2,"Amazon Web services - Build , Administration a...",Bhubaneswar,B2,M&FT,(F) IT Operations,Account
2,March,2,"Amazon Web services - Build , Administration a...",Pune,A3,TEST,NaN,Support
3,October,1,Test Automation,Bhubaneswar,B2,M&FT,(F) IT Operations,Account
4,June,2,PMO (Account),Noida,A5,I&D,(D) Banking Sector,Proactive
5,August,4,Salesforce (Functional),Gurgaon,B1,GP,(T) Data Governance / Master Data Management (...,Account
6,June,1,"Testing Manual,Banking,Test Automation",Noida,A5,I&D,NaN,Support
7,August,4,"Amazon Web services - Build , Administration a...",Gurgaon,B1,INS,NaN,Proactive
8,March,3,Angular.js,Pune,A3,TEST,(F) IT Operations,Support
9,March,2,Angular.js,Pune,A3,TEST,(F) IT Operations,Proactive
10,June,2,POSTGRESQL,Noida,A5,ADM,NaN,Support
11,February,4,Informatica MDM (formerly Syperian),Hyderabad,A2,CFS,(T) Card packages,Account
12,October,2,Informatica MDM (formerly Syperian),Bhubaneswar,B2,M&FT,(T) Office / Desktop Solutions,Proactive
13,June,1,Informatica MDM (formerly Syperian),Noida,A5,I&D,(F) Business Management / Management / Executi...,Support
14,January,2,Angular.js,Chennai,A1,DCX,(T) Enterprise Content Management (ECM),Proactive
15,August,3,Angular.js,Gurgaon,B1,INS,(D) Banking Sector,Proactive
16,March,3,Java,Pune,A3,TEST,(T) Enterprise Content Management (ECM),Support
17,August,1,Java,Gurgaon,B1,GP,(T) Mainframe Development Technologies,Proactive
18,January,1,Java,Chennai,A1,DCX,(T) Card packages,Account
19,March,3,Test Environment Management,Pune,A3,TEST,(T) Operating systems and Virtualization Techn...,Account
20,June,2,Test Environment Management,Noida,A5,ADM,(T) Enterprise Content Management (ECM),Support
21,December,4,Selenium,Hartford,C1,ERP,(T) Mainframe Development Technologies,Support
22,June,3,Selenium,Noida,A5,I&D,NaN,Account
23,May,3,Quick Test Pro,Bangalore,A4,BANK,"(T) Project Tools, Methodologies and Frameworks",Support
24,December,2,Selenium,Hartford,C1,ERP,(T) Client Server Development Technologies,Support
25,February,1,Selenium,Hyderabad,A2,CFS,(F) IT Operations,Account
26,February,1,CRM - Salesforce.com,Hyderabad,A2,CFS,(T) Card packages,Proactive
27,August,4,PMO (Project),Gurgaon,B1,GP,(T) Card packages,Support
28,March,1,MS/Windows Dev OPS,Pune,A3,TEST,(T) Enterprise Content Management (ECM),Account
29,March,4,MS/Windows Dev OPS,Pune,A3,TEST,(D) Banking Sector,Account
...,...,...,...,...,...,...,...,...
993,June,3,Angular.js,Noida,A5,I&D,NaN,Proactive
994,March,3,Angular.js,Pune,A3,TEST,NaN,Account
995,December,1,Angular.js,Hartford,C1,ERP,(F) IT Operations,Proactive
996,August,1,Angular.js,Gurgaon,B1,INS,(D) Banking Sector,Proactive
997,January,3,Angular.js,Chennai,A1,DCX,(D) Banking Sector,Proactive
998,March,2,Angular.js,Pune,A3,TEST,(D) Insurance Sector,Proactive
999,October,2,Angular.js,Bhubaneswar,B2,Cards,(T) Enterprise Content Management (ECM),Proactive
1000,January,4,"Vision Plus,V+",Chennai,A1,DCX,NaN,Proactive
1001,March,2,"Spring Batch,Hibernate,Spring,Java (Multi Skil...",Pune,A3,TEST,(T) Relational Databases,Proactive
1002,October,3,"Spring Batch,Hibernate,Spring,Java (Multi Skil...",Bhubaneswar,B2,Cards,(D) Insurance Sector,Proactive
1003,June,4,"Spring Batch,Hibernate,Spring,Java (Multi Skil...",Noida,A5,ADM,(F) IT Operations,Proactive
1004,May,1,"Spring Batch,Hibernate,Spring,Java (Multi Skil...",Bangalore,A4,BANK,NaN,Proactive
1005,March,3,"Spring Batch,Hibernate,Spring,Java (Multi Skil...",Pune,A3,TEST,(T) Testing Tools / Testing Automation / Perfo...,Support
1006,October,1,"Spring Batch,Hibernate,Spring,Java (Multi Skil...",Bhubaneswar,B2,Cards,(D) Cards,Account
1007,August,2,"Spring Batch,Hibernate,Spring,Java (Multi Skil...",Gurgaon,B1,INS,(T) Testing Tools / Testing Automation / Perfo...,Proactive
1008,August,3,"Spring Batch,Hibernate,Spring,Java (Multi Skil...",Gurgaon,B1,INS,(T) Java Development Technologies,Proactive
1009,February,4,"Spring Batch,Hibernate,Spring,Java (Multi Skil...",Hyderabad,A2,CFS,(D) Banking Sector,Proactive
1010,March,2,"Spring Batch,Hibernate,Spring,Java (Multi Skil...",Pune,A3,TEST,(T) Card packages,Account
1011,August,3,"Spring Batch,Hibernate,Spring,Java (Multi Skil...",Gurgaon,B1,GP,(D) Banking Sector,Proactive
1012,February,4,"Spring Batch,Hibernate,Spring,Java (Multi Skil...",Hyderabad,A2,CFS,"(T) Project Tools, Methodologies and Frameworks",Support
1013,June,3,"Spring Batch,Hibernate,Spring,Java (Multi Skil...",Noida,A5,I&D,(T) Java Development Technologies,Account
1014,February,2,"Spring Batch,Hibernate,Spring,Java (Multi Skil...",Hyderabad,A2,CFS,(D) Banking Sector,Account
1015,February,3,"Spring Batch,Hibernate,Spring,Java (Multi Skil...",Hyderabad,A2,CFS,(T) Testing Tools / Testing Automation / Perfo...,Proactive
1016,October,2,"Spring Batch,Hibernate,Spring,Java (Multi Skil...",Bhubaneswar,B2,M&FT,(D) Banking Sector,Account
1017,June,2,"Spring Batch,Hibernate,Spring,Java (Multi Skil...",Noida,A5,ADM,(D) Banking Sector,Proactive
1018,June,1,"Spring Batch,Hibernate,Spring,Java (Multi Skil...",Noida,A5,ADM,(T) Java Development Technologies,Support
1019,May,4,"Spring Batch,Hibernate,Spring,Java (Multi Skil...",Bangalore,A4,BANK,(T) Microsoft Development Technologies,Account
1020,August,4,"Spring Batch,Hibernate,Spring,Java (Multi Skil...",Gurgaon,B1,INS,(F) IT Operations,Support
1021,January,4,"Spring Batch,Hibernate,Spring,Java (Multi Skil...",Chennai,A1,DCX,(T) Java Development Technologies,Support
1022,October,1,PL SQL,Bhubaneswar,B2,M&FT,(T) Enterprise Content Management (ECM),Account

In [4]:
Demand_Month = pd.DataFrame(Demand_LY.groupby(['SkillList', 
                                               'Month DD Raised'])['No. of FTE Request Raised'].aggregate('sum').unstack())

In [5]:
Demand_Month.columns

Index(['August', 'December', 'February', 'January', 'June', 'March', 'May',
       'October'],
      dtype='object', name='Month DD Raised')

In [6]:
Month = ['1_January','2_February','3_March','4_April','5_May','6_June','7_July','8_August','9_September',
         '10_October','11_November','12_December']

In [8]:
Demand_Month['Dec-2017'] = Demand_Month['January']+Demand_Month['February']
Demand_Month['January-2018'] = Demand_Month['March']
Demand_Month['February-2018'] = 0
Demand_Month['March-2018'] = Demand_Month['May']
Demand_Month['April-2018'] = Demand_Month['June']
Demand_Month['May'] = 0
Demand_Month['June-2018'] = Demand_Month['August']
Demand_Month['July-2018'] = 0
Demand_Month['August-2018'] = Demand_Month['October']
Demand_Month['September-2018'] = 0
Demand_Month['October-2018'] = Demand_Month['December']
Demand_Month['November-2018'] = 0
Demand_Month['December-2018'] = 0

In [16]:
Demand_N2 = Demand_Month.iloc[:,8:]

In [20]:
pd.DataFrame(Headcount.groupby(['SkillList'])['Status'].aggregate('count').unstack())

AttributeError: 'Index' object has no attribute 'labels'

In [29]:
Headcount[Headcount[''.groupby(['SkillList','Status'])[['Status']].count()

                                                             Status
SkillList                                          Status
(Architecture) - Architecture, Solution Designi... Bench          1
                                                   Billable       9
(Architecture) - Architecture, Solution Designi... Billable       1
(Architecture) - Architecture, Solution Designi... Billable       1
(Architecture) - Architecture, Solution Designi... Billable       1
(Architecture) - Architecture, Solution Designi... Bench          1
                                                   Billable       1
(Architecture) - Architecture, Solution Designi... Billable       3
(Consulting) - Business Analysis, Requirements     Bench          1
                                                   Billable      25
(Consulting) - Business Analysis, Requirements,... Bench          1
                                                   Billable       3
(D) Capital Markets Sector                         Billable       2
(D) Capital Markets Sector,Business Analytics      Billable       1
(D) Capital Markets Sector,Financial Services      Bench          2
                                                   Billable      25
(D) Cards,Dispute Management                       Billable       4
(D) Insurance Sector                               Billable       2
(F) Finance / Treasury / Cash / Consolidation,F... Billable       2
(F) Sales / CRM / Marketing / Offer/ Client Man... Billable       5
(T) Data / Security / Infastructure Solutions      Billable       2
(T) Data Integration                               Billable      12
(T) Data Science and Analytics                     Bench          1
                                                   Billable      11
(T) Data and Semantic Modelling                    Billable      23
(T) Data and Semantic Modelling,Data Intepretation Billable       1
(T) Data and Semantic Modelling,TeraData Logica... Billable       5
(T) Guidewire                                      Billable       2
(T) Guidewire,(Architecture) - Architecture, So... Billable       3
(T) Mainframe Development Technologies,JCL,COBO... Billable       1
...                                                             ...
Webservices,CA LISA,(T) Mobile Development Tech... Billable       4
Webservices,English                                Billable       2
Webservices,J2EE,Hibernate,Spring,SQL,Core Java    Billable       1
Webservices,Java 7                                 Bench          7
                                                   Billable       2
Webservices,JavaScript                             Billable       5
Webservices,REST API                               Billable       3
Webservices,Selenium,Java                          Bench          1
                                                   Billable       8
Webservices,Spring,Core Java                       Billable       2
Websphere Portal Server                            Bench          1
                                                   Billable      17
Websphere Portal Server,MAVEN,Shell Scripting,J... Billable       1
Windows Batch, ksh (Unix/Linux), Perl,Java/Perl    Billable       2
Windows,Java (Multi Skilled),Java,SQL              Bench          2
                                                   Billable       5
XML,Java (Multi Skilled),Java,Thunderhead          Billable       2
XML,Murex                                          Billable       1
XML,Spring,SQL,Core Java                           Billable      12
XML,Webservices,JavaScript,J2EE,Hibernate,Sprin... Billable       2
XSLT2.0,JSON,Java (Multi Skilled),Java,BPM         Billable       1
e-Learning                                         Billable       4
iOS                                                Billable       4
iOS Development                                    Bench          1
                                                   Billable      11
iText,Amazon Web services - Build , Administrat... Bench          1
                                                   Billable      20
jQuery,Angular.js,Agile,.Net with MVC              Billable       1
jQuery,JavaScript,HTML                             Billable       2
jQuery,PL SQL,Java (Multi Skilled),Spring,Java     Billable       1

[1364 rows x 1 columns]